html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.container {
  margin: 0 auto;
  width: 75%;
}

header {
  height: 300px;
  background-image: url(../images/baner300.jpg);
  background-attachment: fixed;
  background-position: center 0;
  background-repeat: no-repeat;
  border-width: 20px;
  border-color: white;
  box-shadow:  0px 2px 7px 0px rgba(0,0,0,0.63);
}

h1 {
  font-size: 2.2rem;
  padding-top: 60px;
  color: darksalmon;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  text-align: center;
}

h4 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
}

.img-portrait {
  border-radius: 300px;
  width: auto;
  height: 150px;
  margin-top: -75px;
  margin-bottom: 50px;
}

.qualites {
  text-align: center;
  padding-bottom: 4rem;
}

.panneau-qualite img {
  height: auto;
  width: 100px;
}

.qualites h3 {
  margin: 0;
}

.qualites p {
  margin: 0 2rem 2rem 2rem;
}

.experience {
  background-color: rgb(231, 231, 231);
  padding: 2rem 0 5rem 0;
}

.experience table {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.experience td {
  border-bottom: 1px dotted black;
}

.experience th {
  font-weight: bolder;
  text-align: left;
  border-bottom: 1px dotted black;

}

.experience caption {
  height: 30px;
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 2rem;
}

.tableau-experience {
  padding-bottom: 2rem;
}

.langues {
  text-align: center;
  margin-top: 5rem;
}



.skills p {
  text-align: right;
}

.barre {
  width: 100%;
  background: #ddd;
  height: 14px;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

.skill-titre {
  width: 59px;
  font-weight: bold;
}

.barre-color {
  width: 0%;
  background: #ddd;
  height: 100%;
  border-radius: 10px;
}

.barre-français {
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#828fff), to(#61bdfc));
  background: linear-gradient(to right, rgb(21, 117, 37) 0%, darksalmon 100%);
  height: 100%;
  border-radius: 10px;
}

.barre-anglais {
  width: 35%;
  background: -webkit-gradient(linear, left top, right top, from(#828fff), to(#61bdfc));
  background: linear-gradient(to right, rgb(21, 117, 37) 0%, darksalmon 100%);
  height: 100%;
  border-radius: 10px;
}

.barre-allemand {
  width: 25%;
  background: -webkit-gradient(linear, left top, right top, from(#828fff), to(#61bdfc));
  background: linear-gradient(to right, rgb(21, 117, 37) 0%, darksalmon 100%);
  height: 100%;
  border-radius: 10px;
}

.hobbys {
  margin-top: 5rem;
  text-align: center;
}

.hobbys img {
  width: auto;
  height: 15%;
}

.hobbys-noms {
  font-size: 85%;
}

.footer-coordonees {
  margin-top: 2.5rem;
}

.footer-media-social {
  margin-top: 5rem;
  
}

.footer-media-social i {
  color: rgb(0, 0, 0);
}

.footer-media-social a {
  padding: 1rem 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px -1px rgba(0,0,0,0.75);
  margin: 5px;
  text-decoration: none;
  color: black;
}

.footer-logo {
  text-align: center;
  margin-top: 2rem;
}

.footer-logo img {
  height: auto;
  width: 100px;
}

.footer1 {
  background-image: url(../images/baner-noir.jpg);
  color: white;
  padding-bottom: 7rem;
  padding-top: 2rem;
  text-align: center;
}

.footer1 p {
  margin: 0;
  font-size: 85%;
}

.footer2 {
  height: 3rem;
  background-color: rgb(24, 24, 24);
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 75%;
  border-top: 1px dotted white;
}

.footer2 p {
  margin: 0;
  padding-top: 1rem;
}

@media screen and (min-width: 768px) {
  h1 {
    padding-top: 100px;
  }

  .footer-coordonees {
    text-align: left;
  }

  .footer-media-social {
    text-align: right;
  }

  .skills {
    margin: 2rem;
  }

  .footer1 {
    background-position: bottom;
  }
}